<ion-header>
  <ion-toolbar>
    <ion-title>Registra tu usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header>
    ---LOGO---
  </ion-header>
  <div id="container">
    <ion-item>
      <ion-label position="stacked">User Name</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Password</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input type="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Phone Number</ion-label>
      <ion-input type="number"></ion-input>
    </ion-item>
  </div>
  <div id="container">
    <ion-button>Continuar</ion-button>
  </div>
</ion-content>
