<ion-header>
  <ion-toolbar>
    <ion-title color="primary">Bienvenido (Nombre usuario)</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <ion-card>
      <ion-card-header>
        ---Logo---
        <ion-card-title align="center" color="secondary">¿Que desea hacer?</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-button>Pedir</ion-button>
        <ion-button>Configuracion</ion-button>
        <ion-button>Salir</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
